{% extends "pizza/innerlayout.html" %}

{% block body %}
<div class="callout">
  <h2>{{title}}</h2>


  <br>
  <table width="100%" id="items" class="foodmenu">
    <tr>
      <th colspan="2" style="text-align:left">
        Order #{{order.order_id}}<br>
        Placed on: {{order.time}}
      </th>

    </tr>

    {% for p in pizzas %}
    <tr><td class="item">{{p}}</td>
      <td class="price">${{p.dish.price}}</td>
    </tr>
    {% endfor %}

    {% for s in subs %}
    <tr><td class="item">{{s}}</td>
      <td class="price">${{s.price}}</td>
    </tr>
    {% endfor %}

    {% for ps in pastasalads %}
    <tr><td class="item">{{ps}}</td>
      <td class="price">${{ps.dish.price}}</td>
    </tr>
    {% endfor %}

    {% for pl in platters %}
    <tr><td class="item">{{pl}}</td>
      <td class="price">${{pl.dish.price}}</td>
    </tr>
    {% endfor %}

    <tr><td class="item"><b>TOTAL</b></td>
      <td><b>${{order.total}}</b></td>
    </tr>
    {% if email %}
    <tr></tr>

    <tr><td><br>A confirmation email has been sent to {{email}}.</td></tr>
    {% endif %}
  </table>

<a class="navigation-left" href="{% url 'index' %}" >Return to Menu</a>


</div>

{% endblock %}
