{% extends "pizza/innerlayout.html" %}

{% block head %}

{% load static %}
<script src="{% static 'pizza/order.js' %}"></script>

{% endblock %}

{% block body %}
<table width=100%>

  <tr>
    <td>
      <form action="{% url 'prebasket' %}" method="post" name="preselect" id="preselect">
        {% csrf_token %}
        <div class="callout">
          <h2>Step 1: Select from Our Menu</h2>
          <br>
            <table class="foodmenu" >

              <tr>
                <th colspan="1"></th>
        	      <th colspan="4"><a name="regular_pizza">Regular Pizza</a></th>
                <th colspan="4"><a name="regular_pizza">Sicilian Pizza</a></th>
              </tr>

            	<tr>
            		<td></td>
            		<td>Small</td>
                <td>add</td>
            		<td>Large</td>
                <td>add</td>
                <td>Small</td>
                <td>add</td>
                <td>Large</td>
                <td>add</td>
            	</tr>

              <tr>
              <td>Cheese</td>
              {% for p in 0top %}

                <td class="price" id="p-{{p.dish.id}}"> {{p.price}}</td>

                <td><input id ="{{p.dish.id}}" name ="{{p.dish.name}}" type="number" min="0" max="10" step="1" size="2">
                <div hidden id="tc-{{p.dish.id}}">{{p.topping_count}}</div>
                <div hidden id="s-{{p.dish.id}}">{{p.size}}</div>
                </td>

              {% endfor %}
              </tr>

              <tr>
              <td>1 Topping</td>
              {% for p in 1top %}

                <td class="price" id="p-{{p.dish.id}}"> {{p.price}} </td>
                <td><input id ="{{p.dish.id}}" name ="{{p.dish.name}}" type="number" min="0" max="10" step="1" size="2"></td>
                <div hidden id="tc-{{p.dish.id}}">{{p.topping_count}}</div>
                <div hidden id="s-{{p.dish.id}}">{{p.size}}</div>

              {% endfor %}
              </tr>

              <tr>
              <td>2 Toppings</td>
              {% for p in 2top %}

                <td class="price" id="p-{{p.dish.id}}"> {{p.price}} </td>
                <td><input id ="{{p.dish.id}}" name ="{{p.dish.name}}" type="number" min="0" max="10" step="1" size="2"></td>
                <div hidden id="tc-{{p.dish.id}}">{{p.topping_count}}</div>
                <div hidden id="s-{{p.dish.id}}">{{p.size}}</div>

              {% endfor %}
              </tr>

              <tr>
              <td>3 Toppings</td>
              {% for p in 3top %}

                <td class="price"  id="p-{{p.dish.id}}"> {{p.price}} </td>
                <td><input id ="{{p.dish.id}}" name ="{{p.dish.name}}" type="number" min="0" max="10" step="1" size="2"></td>
                <div hidden id="tc-{{p.dish.id}}">{{p.topping_count}}</div>
                <div hidden id="s-{{p.dish.id}}">{{p.size}}</div>
              {% endfor %}
              </tr>

              <tr>
              <td>Special (max. 5 Toppings)</td>
              {% for p in 5top %}

                <td class="price" id="p-{{p.dish.id}}"> {{p.price}} </td>
                <td><input id ="{{p.dish.id}}" name ="{{p.dish.name}}" type="number" min="0" max="10" step="1" size="2"></td>
                <div hidden id="tc-{{p.dish.id}}">{{p.topping_count}}</div>
                <div hidden id="s-{{p.dish.id}}">{{p.size}}</div>
              {% endfor %}
              </tr>
          	</table>
          <br>
        	  <table width="100%" class="toppingmenu">
          	    <tbody>
          	      <tr>
          		<th colspan="2"><a name="toppings">Pizza toppings (Select in next step)</a></th>
          	      </tr>
                  <tr>
          		<td>
                {% for t in toppings %}
                {{t.name}},
                {% endfor %}
              </td>
          	      </tr>
                </tbody>
          	</table>
          <br>
            <table width="100%" class="foodmenu">
          	    <tbody>
              <tr>
              		<th colspan="5"><a name="subs">Subs</a></th>
              </tr>
              <tr>
              		<td></td>
              		<td>Small</td>
                  <td>add</td>
              		<td>Large</td>
                  <td>add</td>
            	</tr>

              {% for s in subs %}
                  <tr>
                    <td style="text-align: left;" >{{s.name}}</td>
                      {% if s.size == "Small" and s.price != None %}
                        <td class="price">
                          {{s.price}}
                        </td>
                        <td><input type="number" min="0" max="10" step="1" size="2"></td>
                      {% else %}
                       <td></td>
                       <td></td>
                      {% endif %}

                      {% if s.size == large and s.price != None %}
                        <td class="price">
                          {{s.price}}
                        </td>
                        <td><input type="number" min="0" max="10" step="1" size="2"></td>
                      {% else %}
                      <td></td>
                      <td></td>
                      {% endif %}
                  </tr>
              {% endfor %}


                </tbody>
            </table>
          <br>
            <table width="100%" class="toppingmenu">
                <tbody>
                  <tr>
              <th colspan="2"><a name="toppings">Sub Extras (+$0.50 - Select in next step)</a></th>
                  </tr>
                  <tr>
              <td >Mushrooms, Green Peppers, Onions, Extra Cheese</td>
                  </tr>
                </tbody>
            </table>
          <br>
      	    <table width="100%" class="foodmenu">
          	    <tbody>
          	      <tr>
          		<th colspan="4"><a >Pasta & Salads </a></th>
          	      </tr>
          	      <tr>
          		<td></td>
          		<td> </td>
          	      </tr>
                  <tr>
                    <td></td><td></td><td> add</td>
                  </tr>

                  {% for ps in pastasalads %}
                  <tr>
          		<td class="ps" style="text-align: left;" >{{ps.name}}</td>
          		<td class="price">{{ps.price}}</td>
              <td><input type="number" min="0" max="10" step="1" size="2"></td>
          	      </tr>
                  {% endfor %}

                </tbody>
            </table>
          <br>
        	  <table width="100%" class="foodmenu">
             <tbody>
              	      <tr>
              		      <th colspan="5"><a name="dinner">Dinner Platters</a></th>
              	      </tr>
                      <tr>
                      <td></td>
                      <td>Small</td>
                      <td>add</td>
                      <td>Large</td>
                      <td>add</td>
                      </tr>
              {% for p in platters %}
                <tr>
              		<td style="text-align: left;" >{{p.name}}</td>
              		<td class="price">{{p.price_small}}</td>
                  <td><input type="number" min="0" max="10" step="1" size="2"></td>
                  <td class="price">{{p.price_large}}</td>
                  <td><input type="number" min="0" max="10" step="1" size="2"></td>
              	</tr>
              {% endfor %}

             </tbody>
            </table>
          <br>
            <table>
              <input type="submit" value="NEXT">
            </table>

        </div>
      </form>
    </td>
  </tr>
</table>

{% endblock %}
