<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>


    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static 'pizza/inner.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    {% block head %}
    {% endblock %}

  </head>

<table width="100%">
  <tr>
    <td align="left" name="user" class="loggedin">Logged in as {{customer}}
      {% block order_history %}
      {% if customer.is_staff %}
      (Staff Member)
      <a class="navigation" align="left" href="{% url 'order_history' %}">View Order History</a>
      {% endif %}
      {% endblock %}
    </td>
    <td align="right"><a class="navigation" align="right" href="{% url 'logout' %}" name="logout">  Log Out</a></td>
  </tr>



</table>



  <body class="text-center">

    {% block body %}



    {% endblock %}





  </body>
</html>
