{% extends "pizza/innerlayout.html" %}

{% block head %}

{% load static %}
  <script src="{% static 'pizza/prebasket.js' %}"></script>

{% endblock %}

<!-- THIS HAS TO BECOME A FORM, built in prebasket.js submission goes to server !-->

{% block body %}

<select name="toppings" hidden>
  {% for t in toppings %}
    <option value="{{t.id}}">{{t.name}}</option>
  {% endfor %}
</select>

  <!-- input value maps to model attribute -->
  <div hidden id="extras">
    {% for e in extras %}
    <input type="checkbox">{{e}}</input>
    {% endfor %}
  </div>


<form id="basket"  method="post" action = "{% url 'basket' %}">
  <div class="callout">
    <h2>Step 2: Customize & confirm order</h2>
    <br>
  <table width=100% id="items" class="foodmenu">

    <tr>
      <th></th>
      <th>Size</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>


      <!--   <td>See what comes out: d</td> -->
      <!--  <td> {{d.name}}, Price: <div class="price">{{d.price}}</div>  - Amount: {{d.amount}} Total: {{d.total}} </td> -->

  </table>
  </div>
</form>
{% endblock %}
