{% extends "pizza/innerlayout.html" %}

{% block head %}

{% load static %}
  <script src="{% static 'pizza/prebasket.js' %}"></script>

{% endblock %}

<!-- THIS HAS TO BECOME A FORM, built in prebasket.js submission goes to server !-->

{% block body %}
<div id="test"></div>
<table width=100% >
  <tr>
    {% for d in items %}

      <td> {{d.name}}, Price: <div class="price">{{d.price}}</div>  - Amount: {{d.amount}} Total: {{d.total}} </td>


    {% endfor %}

  </tr>

</table>

{% endblock %}
