{% extends "pizza/innerlayout.html" %}

{% block head %}

{% load static %}
  <script src="{% static 'pizza/prebasket.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

{% endblock %}

<!-- THIS HAS TO BECOME A FORM, built in prebasket.js submission goes to server !-->

{% block body %}

<select name="toppings" hidden required>
  {% for t in toppings %}
    <option value="{{t.name}}">{{t.name}}</option>
  {% endfor %}
</select>

  <!-- input value maps to model attribute -->
  <div hidden id="extras">
    {% for e in extras %}
    <input type="checkbox" value="{{e}}">{{e}}</input>
    {% endfor %}
  </div>

<form hidden action = "{% url 'basket' %}" method="post" id="hiddenbasket">
  {% csrf_token %}
  <input id="pizza_orders" name="pizza_orders" type="hidden" value="">
  <input id="sub_orders" name="sub_orders" type="hidden" value="">
  <input id="preselection" name="preselection" type="hidden" value="">
</form>


<form id="basket">
  {% csrf_token %}
  <div class="callout">
    <h2>Step 2: Customize & confirm order</h2>
    <br>
  <table width="100%" id="items" class="foodmenu">

    <tr>
      <th></th>
      <th>Size</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>


      <!--   <td>See what comes out: d</td> -->
      <!--  <td> {{d.name}}, Price: <div class="price">{{d.price}}</div>  - Amount: {{d.amount}} Total: {{d.total}} </td> -->
    <tfoot>
      <tr>
        <th colspan="4"></th>
        <th id ="total"></th>
      </tr>
    </tfoot>
  </table>
  <table>
    <input type="submit" value="CHECK OUT & PAY">
  </table>
  </div>
</form>

<a class="navigation-left" href="" id="backtomenu">Return to Menu</a>

{% endblock %}
